---
layout: default
---

<!--
HTML - Common patterns
Add your own modules and components for easy theme styling,
copy the partials for building a prototype. Or just read
the comments to familiarize yourself with HTML.
-->

<section>
  <div class="featureBackgroundImage">
    <div class="featureText pad">
      <h2>Explore Ranchlands</h2>
      <p><em>View our sitemap and available lots</em></p>
      <a href"#" class="button">Learn More</a>
    </div>
    <img src="/images/exploreBackground.jpg"/>
  </div>
</section>

<ul class="homePageList group">
      
  <li style="background: url('images/exploreBackground.jpg'); background-position: center; background-size: cover;');">
    <a href="" style="color: white; text-align: center;"><h2>Watch<span class="videoPlayIcon"><img src="/images/mobilePagesAdvanceIcon.png" width="47"/></span>Flyover</h2></a>
  </li>

  <li>
    <h2>Community</h2>
    <p><em>A new kind of community in Medicine Hat</em></p>
    <a>Learn More</a>
    <a>Play Button</a>
  </li>

  <li>
    <h2>News</h2>
    <ul class="newHeadlines">
      <li>Ranchalnds 32 nominated for Lorem Ipusm Award
        <a>Read More</a>
      </li>
      <li>Featured in Alberta Home + Country
        <a>Read More</a>
      </li>
    </ul>
  </li>

  <li>
    <h2>Amenities</h2>
    <p><em>Lorem Ipsum placeholder text</em></p>
    <a>Learn More</a>
    <a>Play Button</a>
  </li>
</ul>

{% include amenitiesTabs.html %}

{% include mapBox.html %}
  
<!-- Typography -->

<section>
  <div class="pad">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
  </div>
</section>

<section>
  <div class="pad">
    <!-- Forms -->
    <form>
      <fieldset>
        <legend>Legend</legend>
        <div>
          <label for="inputEmail">Email</label>
        </div>
        <div>
          <input type="text" id="inputEmail" placeholder="Email">
        </div>
        <div>
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        </div>
        <div>
          <input type="password" id="inputPassword" placeholder="Password">
          <div>
            <label>
              <input type="checkbox"> Checkbox
            </label>
          </div>
        </div>
        <div>
          <label for="textArea" class="col-lg-2 control-label">Textarea</label>
        </div>
        <div>
          <textarea  rows="3" id="textArea"></textarea>
        </div>
        <div>
          A longer block of help text that breaks onto a new line and may extend beyond one line.
        </div>
        <div>
          <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
          Option one is this</label>
        </div>
        <div>
          <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Option two can be something else</label>
        </div>
        <select id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div><!-- /pad -->
</section>