<ul class="amenitiesTabs">
  <li class="amenitiesTabLink animated fadeIn current" data-tab="features">Features</li>
  <li class="amenitiesTabLink animated fadeIn" data-tab="architecturalControls">Architectural Controls</li>
  <li class="amenitiesTabLink animated fadeIn " data-tab="location">Location</li>
</ul>
<div id="features" class="amenitiesTabContent animated fadeIn current">
  <ul class="amenitiesLists">
    <li>
      <h2><span class="underlinedNumeral">01</span>Natural Wetlands</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
    <li>
      <h2><span class="underlinedNumeral">02</span>Trail Systems</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
    <li>
      <h2><span class="underlinedNumeral">03</span>The River</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
    <li>
      <h2><span class="underlinedNumeral">04</span>Public Transportation</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
  </ul>
  <div style="height: 500px; color: #ffffff; text-align: left; line-height: 1.1; background: url('/images/parkRendering.jpg'); background-position: center; background-size: cover; padding: 30px 40px;">
    <h2>Wetland Areas</h2>
  </div>
</div>
<div id="architecturalControls" class="amenitiesTabContent animated fadeIn">
  <ul class="amenitiesLists">
    <li>
      <h2><span class="underlinedNumeral">01</span>Architecture Controls</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
    <li>
      <h2><span class="underlinedNumeral">02</span>Architecture Controls</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
    <li>
      <h2><span class="underlinedNumeral">03</span>Architecture Controls</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
    <li>
      <h2><span class="underlinedNumeral">04</span>Architecture Controls</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
  </ul>
  <div style="height: 500px; color: #ffffff; text-align: left; line-height: 1.1; background: url('/images/architecturalControls.jpg'); background-position: center; background-size: cover; padding: 30px 40px;">
    <h2>Thoughtful Development</h2>
  </div>
</div>
<div id="location" class="amenitiesTabContent animated fadeIn">
  <ul class="amenitiesLists">
    <li>
      <h2><span class="underlinedNumeral">01</span>Location</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
    <li>
      <h2><span class="underlinedNumeral">02</span>Location</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
    <li>
      <h2><span class="underlinedNumeral">03</span>Location</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
    <li>
      <h2><span class="underlinedNumeral">04</span>Location</h2>
      <p>a new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
    </li>
  </ul>
  <div style="height: 500px; color: #ffffff; text-align: left; line-height: 1.1; background: url('/images/location.jpg'); background-position: center; background-size: cover; padding: 30px 40px;">
    <h2>Urban &amp; Rural</h2>
  </div>
</div>