<ul class="amenitiesTabs">
  <li class="amenitiesTabLink animated fadeIn current" data-tab="features">Features</li>
  <li class="amenitiesTabLink animated fadeIn" data-tab="architecturalControls">Architectural Controls</li>
  <li class="amenitiesTabLink animated fadeIn " data-tab="location">Location</li>
</ul>
<div id="features" class="amenitiesTabContent animated fadeIn current">
  <ul class="amenitiesLists">
    <li>
      <h2><span class="tabNumeral">01</span>Natural Wetlands</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
    <li>
      <h2><span class="tabNumeral">02</span>Trail Systems</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
    <li>
      <h2><span class="tabNumeral">03</span>The River</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
    <li>
      <h2><span class="tabNumeral">04</span>Public Transportation</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
  </ul>
</div>
<div id="architecturalControls" class="amenitiesTabContent animated fadeIn">
  <ul class="amenitiesLists">
    <li>
      <h2><span class="tabNumeral">01</span>Architecture Controls</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
    <li>
      <h2><span class="tabNumeral">02</span>Architecture Controls</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
    <li>
      <h2><span class="tabNumeral">03</span>Architecture Controls</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
    <li>
      <h2><span class="tabNumeral">04</span>Architecture Controls</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
  </ul>
</div>
<div id="location" class="amenitiesTabContent animated fadeIn">
  <ul class="amenitiesLists">
    <li>
      <h2><span class="tabNumeral">01</span>Location</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
    <li>
      <h2><span class="tabNumeral">02</span>Location</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
    <li>
      <h2><span class="tabNumeral">03</span>Location</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
    <li>
      <h2><span class="tabNumeral">04</span>Location</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
    </li>
  </ul>
</div>