<footer>
	<div class="container-fluid">
		<h1>Footer</h1>
		<small>© 2014 Some company name</small>
		<address>email@email.com</address>
	</div>
</footer>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script>
var mapeen;
		var eEn = new window.google.maps.LatLng(52.441363,4.813437);
		var maptwee;
		var tWee = new window.google.maps.LatLng(52.494862,4.762839);
		var mapdrie;
		var dRie = new window.google.maps.LatLng(52.286203,4.850936);
		var markereen = null;
		var markertwee = null;
		var markerdrie = null;

		$(document).ready(function() {

		/* Mapje op tabje 1 */
			function initializeMapEen() {

			  var mapProp = {
				  center: eEn,
				  zoom: 10,
				  draggable: false,
				  scrollwheel: false,
				  panControl: false,
				  zoomControl: false,
				  scaleControl: false,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
			  };
			  
			  mapeen = new google.maps.Map(document.getElementById("map-een"), mapProp);
			  markereen = new google.maps.Marker({ 
				position: eEn, 
				draggable: false, 
				animation: google.maps.Animation.DROP, 
				}); 
				
				var contentString = $('<div class="marker-info-win">'+
				'<div class="marker-inner-win"><span class="info-content">'+
				'<h1 class="marker-heading">New Marker</h1>'+
				'This is a new marker infoWindow'+ 
				'</span>'+
				'</div></div>');
					
				var infowindow = new google.maps.InfoWindow();
				
				infowindow.setContent(contentString[0]);
				
				google.maps.event.addListener(markereen, 'click', function() {
					infowindow.open(mapeen,markereen); // click on marker opens info window 
				});

				markereen.setMap(mapeen); 

			}

			$("#mapEen").on('shown.bs.tab', function() {	
				google.maps.event.trigger(mapeen, 'resize');  		
			});
																						   
			initializeMapEen();

		/* Mapje op tabje 2 */

			function initializeMapTwee() {

			  var mapProp = {
				  center: tWee,
				  zoom: 10,
				  draggable: false,
				  scrollwheel: false,
				  panControl: false,
				  zoomControl: false,
				  scaleControl: false,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
			  };
			  
			  maptwee = new google.maps.Map(document.getElementById("map-twee"), mapProp);
			  markertwee = new google.maps.Marker({ 
				position: eEn, 
				draggable: false, 
				animation: google.maps.Animation.DROP, 
				}); 
				
				var contentString = $('<div class="marker-info-win">'+
				'<div class="marker-inner-win"><span class="info-content">'+
				'<h1 class="marker-heading">New Marker</h1>'+
				'This is a new marker infoWindow'+ 
				'</span>'+
				'</div></div>');
					
				var infowindow = new google.maps.InfoWindow();
				
				infowindow.setContent(contentString[0]);
				
				google.maps.event.addListener(markertwee, 'click', function() {
					infowindow.open(maptwee,markertwee); // click on marker opens info window 
				});

				markertwee.setMap(maptwee); 

			}

			$("#mapTwee").on('shown.bs.tab', function() {

				google.maps.event.trigger(maptwee, 'resize');
			});

			initializeMapTwee();

		/* Mapje op tabje 3 */

			function initializeMapDrie() {

			  var mapProp = {
				  center: dRie,
				  zoom: 10,
				  draggable: false,
				  scrollwheel: false,
				  panControl: false,
				  zoomControl: false,
				  scaleControl: false,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
			  };
			  
			  mapdrie = new google.maps.Map(document.getElementById("map-drie"), mapProp);
			  markerdrie = new google.maps.Marker({ 
				position: dRie, 
				draggable: false, 
				animation: google.maps.Animation.DROP, 
				}); 
				
				var contentString = $('<div class="marker-info-win">'+
				'<div class="marker-inner-win"><span class="info-content">'+
				'<h1 class="marker-heading">New Marker</h1>'+
				'This is a new marker infoWindow'+ 
				'</span>'+
				'</div></div>');
					
				var infowindow = new google.maps.InfoWindow();
				
				infowindow.setContent(contentString[0]);
				
				google.maps.event.addListener(markerdrie, 'click', function() {
					infowindow.open(mapdrie,markerdrie); // click on marker opens info window 
				});

				markerdrie.setMap(mapdrie); 
			}

			$("#mapDrie").on('shown.bs.tab', function() {

				google.maps.event.trigger(mapdrie, 'resize');
			});

			initializeMapDrie();

          
		}); 
</script>