<footer>
	<div class="group">
		<ul class="additionalLinks">
			<li><a>Developer</a></li>
			<li><a>Customer Satisfaction Survey</a></li>
			<li><a>Privacy Policy</a></li>
			<li><a>Legal</a></li>
		</ul>
		<ul class="socialLinks">
			<li><a><i class="fa fa-twitter-square fa-2x"></i></a></li>
			<li><a><i class="fa fa-facebook-square fa-2x"></i></a></li>
			<li><a href="#" class="register">Register</a></li>
		</ul>
	</div>

	<img class="medicineHatLogoFooter" src="/images/medicineHatLogo@2x.png" width="343px"/>

	<img class="landAndPropertiesLogoFooter" src="/images/landAndPropertiesLogo@2x.png" width="314px"/>

</footer>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/ranchlands.js"></script>
