<div class="header">
  <nav class="headerNavigation">
    <a class="logo" href="/"><img src="/images/ranchlandsLogo@2x.png" width="354"></a>
    <ul class="headerNavigationLinks">
      <li><a href="/vision/" class="vision">Vision</a></li><li><a href="/amenities/" class="amenities">Amenities</a></li><li><a href="/lots/" class="lots">Lots</a></li><li><a href="/news/" class="news">News</a></li><li><a href="/contact/" class="contact">Contact</a></li><li><a href="/register/" class="register registerHeader">Register</a></li>
    </ul>
  </nav>
</div>