<div class="header">
  <nav class="headerNavigation">
    <a class="logo" href="/"><img src="/images/ranchlandsLogo@2x.png" width="354"></a>
    <a class="hamburgerMenuIcon" href="#"><img src="/images/mobileMenuHamburger@2x.png" width="30"></a>
    <ul class="headerNavigationLinks">
      <li><a href="/vision/" class="vision">Vision</a></li><li><a href="/concept/" class="concept">Concept</a></li><li><a href="/amenities/" class="amenities">Amenities</a></li><li><a href="/sales/" class="sales">Sales</a></li><li><a href="/news/" class="news">News</a></li><li><a href="/register/" class="register registerHeader">Register</a></li>
    </ul>
  </nav>
</div>

<ul class="mobileNav">
	<li><a class="closeMobileMenu" href="#"><img src="/images/mobileMenuClose@2x.png" width="44"/></a></li>
	<li><a href="/">Home</a></li>
	<li><a href="/vision/">Vision</a></li>
	<li><a href="/amenities/">Amenities</a></li>
	<li><a href="/news/">News</a></li>
	<li><a href="/contact/">Contact</a></li>
	<li><hr></li>
	<li><a href="#">Developer</a></li>
	<li><a href="#">Customer Satisfaction</a></li>
	<li><a href="#">Privacy Policy</a></li>
	<li><a href="#">Legal</a></li>
</ul>