<!DOCTYPE html>
<html lang="en">
  <head>
  	<script src="//use.typekit.net/dea1qhm.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
    <meta charset="utf-8">

    <!-- Set the title of your site here -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="author" content="mrmrs">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Link to your stylesheet here -->

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Favicons and Touch Device Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="shortcut icon" href="/images/favicon16.png">
    <link rel="shortcut icon" href="/images/favicon32.png">
    <link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72"   href="/images/touch-icon-ipad-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/touch-icon-iphone-retina-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/touch-icon-ipad-retina-precomposed.png">

    <!-- Mapbox CSS -->
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

  </head>