<ul class="amenitiesTabs">
  <li class="amenitiesTabLink animated fadeIn current" data-tab="features">Overview</li>
  <li class="amenitiesTabLink animated fadeIn" data-tab="architecturalControls">Sold</li>
  <li class="amenitiesTabLink animated fadeIn " data-tab="location">Available</li>
</ul>
<div id="features" class="amenitiesTabContent animated fadeIn current">
  <img src="/images/lotsMap@2x.jpg"/>
</div>
<div id="architecturalControls" class="amenitiesTabContent animated fadeIn">
  <img src="/images/lotsMap@2x.jpg"/>
</div>
<div id="location" class="amenitiesTabContent animated fadeIn">
  <img src="/images/lotsMap@2x.jpg"/>
</div>