<!-- The Mapbox Tabs Section -->
<h2 class="greyBackground">Community Amenities Map</h2>

<ul class="mapsTabs">
  <li class="tab-link current" data-tab="tab-1">Education</li>
  <li class="tab-link" data-tab="tab-2">Services</li>
  <li class="tab-link" data-tab="tab-3">Essentials</li>
  <li class="tab-link" data-tab="tab-4">Hospitals</li>
  <li class="tab-link" data-tab="tab-5">Recreation</li>
</ul>

<div id="tab-1" class="tab-content animated fadeIn current">
  <iframe width='100%' height='350px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/justinalm.k7coemno/attribution.html?access_token=pk.eyJ1IjoianVzdGluYWxtIiwiYSI6IkNzVC1tRVUifQ.kma7BVJhS2Nuy5xKldDK5Q'></iframe>
  <!-- list of features -->
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">01</span> School 1</li>
    <li><span class="badge">02</span> School 2</li>
    <li><span class="badge">03</span> School 3</li>
    <li><span class="badge">04</span> School 4</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">05</span> University 1</li>
    <li><span class="badge">06</span> University 2</li>
    <li><span class="badge">07</span> University 3</li>
    <li><span class="badge">08</span> University 4</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">09</span> College 1</li>
    <li><span class="badge">10</span> College 2</li>
    <li><span class="badge">11</span> College 3</li>
    <li><span class="badge">12</span> College 4</li>
  </ul>
</div>
<div id="tab-2" class="tab-content animated fadeIn">
   <iframe width='100%' height='350px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/justinalm.k81knba1/attribution.html?access_token=pk.eyJ1IjoianVzdGluYWxtIiwiYSI6IkNzVC1tRVUifQ.kma7BVJhS2Nuy5xKldDK5Q'></iframe>
  <!-- list of features -->
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">01</span> Shoe Repair 1</li>
    <li><span class="badge">02</span> Shoe Repair 2</li>
    <li><span class="badge">03</span> Shoe Repair 3</li>
    <li><span class="badge">04</span> Shoe Repair 4</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">05</span> Gardener 1</li>
    <li><span class="badge">06</span> Gardener 2</li>
    <li><span class="badge">07</span> Gardener 3</li>
    <li><span class="badge">08</span> Gardener 4</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">09</span> List Item</li>
    <li><span class="badge">10</span> List Item</li>
    <li><span class="badge">11</span> List Item</li>
    <li><span class="badge">12</span> List Item</li>
  </ul>
</div>
<div id="tab-3" class="tab-content animated fadeIn">
  <iframe width='100%' height='350px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/justinalm.k7coemno/attribution.html?access_token=pk.eyJ1IjoianVzdGluYWxtIiwiYSI6IkNzVC1tRVUifQ.kma7BVJhS2Nuy5xKldDK5Q'></iframe>
  <!-- list of features -->
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">01</span> List Item</li>
    <li><span class="badge">02</span> List Item</li>
    <li><span class="badge">03</span> List Item</li>
    <li><span class="badge">04</span> List Item</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">05</span> List Item</li>
    <li><span class="badge">06</span> List Item</li>
    <li><span class="badge">07</span> List Item</li>
    <li><span class="badge">08</span> List Item</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">09</span> List Item</li>
    <li><span class="badge">10</span> List Item</li>
    <li><span class="badge">11</span> List Item</li>
    <li><span class="badge">12</span> List Item</li>
  </ul>
</div>
<div id="tab-4" class="tab-content animated fadeIn">
  <iframe width='100%' height='350px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/justinalm.k81knba1/attribution.html?access_token=pk.eyJ1IjoianVzdGluYWxtIiwiYSI6IkNzVC1tRVUifQ.kma7BVJhS2Nuy5xKldDK5Q'></iframe>
  <!-- list of features -->
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">01</span> List Item</li>
    <li><span class="badge">02</span> List Item</li>
    <li><span class="badge">03</span> List Item</li>
    <li><span class="badge">04</span> List Item</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">05</span> List Item</li>
    <li><span class="badge">06</span> List Item</li>
    <li><span class="badge">07</span> List Item</li>
    <li><span class="badge">08</span> List Item</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">09</span> List Item</li>
    <li><span class="badge">10</span> List Item</li>
    <li><span class="badge">11</span> List Item</li>
    <li><span class="badge">12</span> List Item</li>
  </ul>
</div>

<div id="tab-5" class="tab-content animated fadeIn">
  <iframe width='100%' height='350px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/justinalm.k7coemno/attribution.html?access_token=pk.eyJ1IjoianVzdGluYWxtIiwiYSI6IkNzVC1tRVUifQ.kma7BVJhS2Nuy5xKldDK5Q'></iframe>
  <!-- list of features -->
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">01</span> List Item</li>
    <li><span class="badge">02</span> List Item</li>
    <li><span class="badge">03</span> List Item</li>
    <li><span class="badge">04</span> List Item</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">05</span> List Item</li>
    <li><span class="badge">06</span> List Item</li>
    <li><span class="badge">07</span> List Item</li>
    <li><span class="badge">08</span> List Item</li>
  </ul>
  <ul class="mapLists animated fadeInUp">
    <li><span class="badge">09</span> List Item</li>
    <li><span class="badge">10</span> List Item</li>
    <li><span class="badge">11</span> List Item</li>
    <li><span class="badge">12</span> List Item</li>
  </ul>
</div>
<!-- /Mapbox Section -->