<!-- Tab switching for the Vision page -->

<ul class="visionTabs">
  <li class="visionTabLink animated fadeIn current" data-tab="communityOverview">Community Overview</li>
  <li class="visionTabLink animated fadeIn" data-tab="medicineHat">Medicine Hat</li>
</ul>

<!-- Start of the Community Overview Tab -->
<div id="communityOverview" class="visionTabContent animated fadeIn current">

  <ul class="visionPageList">

    <li>
      <div class="top">
        <img src="/images/environmentalStewardshipIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">01</span>Environmental Stewardship</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <a href="https://vimeo.com/82957272" class="popUpVideo"><li style="background: url('/images/exploreBackground@2x.jpg'); background-position: center; background-size: cover;');">
      <div class="watchFlyover">
        <div class="triangleLeft">&nbsp;</div>
        <div class="watchFlyoverCentred">
          <h2 style="display: inline-block; color: white; text-align: center;">Watch<span class="videoPlayIcon"><img src="/images/mobilePagesAdvanceIcon.png" width="47"/></span>Flyover</h2>
        </div>
      </div>
    </li></a>

    <li style="background: url('/images/communityBackground@2x.jpg'); background-position: center; background-size: cover;');">
      <div class="triangleRight">&nbsp;</div>
    </li>

    <li>
      <div class="top">
        <img src="../images/naturalBeautyIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">02</span>Natural Beauty</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li>
      <div class="top">
        <img src="/images/infrastructureIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">03</span>Infrastructure</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li style="background: url('/images/amenitiesBackground@2x.jpg'); background-position: center; background-size: cover;');">
      <div class="triangleLeft">&nbsp;</div>
    </li>

    <li style="background: url('/images/vegetableMarket.jpg'); background-position: center; background-size: cover;');">
      <div class="triangleRight">&nbsp;</div>
    </li>

    <li>
      <div class="top">
        <img src="/images/naturalBeautyIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">04</span>Community-Driven Etc.</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>
  </ul>
  <div class="visionBlockQuote">
    <p>“Ove, viriviv ivirmis cla nos cenihic enequodiu quem ta pulicem ute, curae, consimus cerentius hos bonsulia quemeni caelii tuiusta tiquit.”</p>
    <p>– John Smith</p>
    <img class="blockquoteMedicineHatMark" src="/images/medicinHatMark@2x.png" width="118px" />
  </div>
  <div style="height: 360px; background: url('/images/communityBackground@2x.jpg'); background-position: center; background-size: cover;');">&nbsp;</div>
</div>
<!-- End of the Community Overview Tab -->
<!-- Start the Medicine Hat Tab -->
<div id="medicineHat" class="visionTabContent animated fadeIn">
  <ul class="visionPageList">

    <li style="background: url('/images/medicineHatFeatured@2x.jpg'); background-position: center; background-size: cover;');">
      <div class="triangleRight">&nbsp;</div>
    </li>

    <li>
      <div class="bottom">
        <h2><span class="underlinedNumeral">01</span>Title Number One</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li>
      <div class="bottom">
        <h2><span class="underlinedNumeral">02</span>Title Number Two</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li style="background: url('/images/redRock.jpg'); background-position: center; background-size: cover;');">
      <div class="triangleLeft">&nbsp;</div>
    </li>

    <li style="background: url('/images/barn.jpg'); background-position: center; background-size: cover;');">
      <div class="triangleRight">&nbsp;</div>
    </li>

    <li>
      <div class="bottom">
        <h2><span class="underlinedNumeral">03</span>Title Number Three</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

  </ul>
  <div class="visionBlockQuote">
    <p>“Ove, viriviv ivirmis cla nos cenihic enequodiu quem ta pulicem ute, curae, consimus cerentius hos bonsulia quemeni caelii tuiusta tiquit.”</p>
    <p>– John Smith</p>
    <img class="blockquoteMedicineHatMark" src="/images/medicinHatMark@2x.png" width="118px" />
  </div>
  <div style="height: 360px; background: url('/images/visionMedicineHatFooterBackground.jpg'); background-position: center; background-size: cover;');">&nbsp;</div>
</div>
</div>