<!-- Tab switching for the Vision page -->

<ul class="visionTabs">
  <li class="visionTabLink animated fadeIn current" data-tab="communityOverview">Community Overview</li>
  <li class="visionTabLink animated fadeIn" data-tab="medicineHat">Medicine Hat</li>
</ul>

<!-- Start of the Community Overview Tab -->
<div id="communityOverview" class="visionTabContent animated fadeIn current">

  <ul class="visionPageList group">

    <li>
      <div class="top">
        <img src="/images/environmentalStewardshipIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">01</span>Environmental Stewardship</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li style="background: url('/images/exploreBackground@2x.jpg'); background-position: center; background-size: cover;');">
      <div class="watchFlyover">
        <div class="watchFlyoverCentred">
          <a href="https://vimeo.com/82957272" class="popUpVideo" style="display: inline-block; color: white; text-align: center;"><h2>Watch<span class="videoPlayIcon"><img src="/images/mobilePagesAdvanceIcon.png" width="47"/></span>Flyover</h2></a>
        </div>
      </div>
    </li>

    <li style="background: url('/images/communityBackground@2x.jpg'); background-position: center; background-size: cover;');"></li>

    <li>
      <div class="top">
        <img src="../images/naturalBeautyIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">02</span>Natural Beauty</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li>
      <div class="top">
        <img src="/images/infrastructureIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">03</span>Infrastructure</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li style="background: url('/images/amenitiesBackground@2x.jpg'); background-position: center; background-size: cover;');"></li>

    <li style="background: url('/images/vegetableMarket.jpg'); background-position: center; background-size: cover;');"></li>

    <li>
      <div class="top">
        <img src="/images/naturalBeautyIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">04</span>Community-Driven Etc.</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>
  </ul>
</div>
<!-- End of the Community Overview Tab -->
<!-- Start the Medicine Hat Tab -->
<div id="medicineHat" class="visionTabContent animated fadeIn">
  <ul class="visionPageList group">
    <li>
      <div class="top">
        <img src="/images/environmentalStewardshipIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">01</span>Environmental Stewardship</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li style="background: url('/images/exploreBackground@2x.jpg'); background-position: center; background-size: cover;');">
      <div class="watchFlyover">
        <div class="watchFlyoverCentred">
          <a href="https://vimeo.com/82957272" class="popUpVideo" style="display: inline-block; color: white; text-align: center;"><h2>Watch<span class="videoPlayIcon"><img src="/images/mobilePagesAdvanceIcon.png" width="47"/></span>Flyover</h2></a>
        </div>
      </div>
    </li>

    <li style="background: url('/images/communityBackground@2x.jpg'); background-position: center; background-size: cover;');"></li>

    <li>
      <div class="top">
        <img src="../images/naturalBeautyIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">02</span>Natural Beauty</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li>
      <div class="top">
        <img src="/images/infrastructureIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">03</span>Infrastructure</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>

    <li style="background: url('/images/amenitiesBackground@2x.jpg'); background-position: center; background-size: cover;');"></li>

    <li style="background: url('/images/vegetableMarket.jpg'); background-position: center; background-size: cover;');"></li>

    <li>
      <div class="top">
        <img src="/images/naturalBeautyIcon@2x.png" width="47"/>
      </div>
      <div class="bottom">
        <h2><span class="underlinedNumeral">04</span>Community-Driven Etc.</h2>
        <p>A new community in the Heart of Alberta Lorem ipsum placeholder text Unt. Obitaec tatiore quia sus excea nisi ut que nosam. Sed estruntur moluptas quaersp elitinis ea conse repernatur auda qui quae eaqui doluptam lis sequis aut aliam, simet latem id ut hic te occusanis mi, solut pore sa doloriam ut quam ven.</p>
      </div>
    </li>
  </ul>
</div>
</div>