footer {
	background: url('/images/terrainMapsGrey.jpg');
	background-size: 1600px 937px;
	background-position: center;
	padding: $padding-base-horizontal*2 $padding-base-vertical;
}

footer p, footer h1 {
	color: #ffffff;
}