.header {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 145px;
	line-height: 0;
	background: #ffffff;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.shrink {
	height: 64px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.headerNavigation {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.logo {
	display: block;
	float: left;
	vertical-align: top;
	width: 35%;
	padding: 52px 16px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink .logo {
	display: block;
	float: left;
	vertical-align: top;
	width: 35%;
	padding: 16px;
}

ul.headerNavigationLinks {
	display: block;
	float: right;
	width: 65%;
	list-style: none;
	text-align: right;
	font-family: $font-family-sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 40px 0;
	margin: 0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header.shrink ul.headerNavigationLinks {
	padding: 0;
}

ul.headerNavigationLinks > li {
	vertical-align: top;
	display: inline-block;
}

ul.headerNavigationLinks > li > a {
	display: block;
	line-height: 0;
	padding: 32px 12px;
	text-decoration: none;
}

ul.headerNavigationLinks > li > a:hover {
	background: #dddddd;
}

ul.headerNavigationLinks > li > a:active,
ul.headerNavigationLinks > li > a:visited {
	text-decoration: underline;
}

ul.headerNavigationLinks > li > a.registerHeader {
	padding: 16px;
	margin: 14px 18px 8px 4px;
	border: 2px solid #cccccc;
}