@media all and (min-width: 1020px) {
	.header {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 135px;
		line-height: 0;
		background: $white;
		@include trasition;
	}

	.shrink {
		height: 72px;
		@include navigationBorder;
	}

	.headerNavigation {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	.logo {
		display: block;
		float: left;
		vertical-align: top;
		width: 25%;
		padding: 52px 16px 52px 36px;
		@include trasition;
	}

	.header.shrink .logo {
		display: block;
		float: left;
		vertical-align: top;
		width: 25%;
		padding: 22px;
	}

	ul.headerNavigationLinks {
		display: block;
		float: right;
		width: 65%;
		list-style: none;
		text-align: right;
		font-family: $sans-serif-type;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 30px 20px 40px 0;
		margin: 0;
		@include trasition;
	}

	.header.shrink ul.headerNavigationLinks {
		padding: 0;
	}

	ul.headerNavigationLinks > li {
		display: inline-block;
	}

	ul.headerNavigationLinks > li > a {
		border-bottom: 3px solid $white;
		padding: 25px 0 15px 0;
		display: inline-block;
		margin: 0 $horizontalPadding;
	}

	ul.headerNavigationLinks > li > a:hover {
		border-bottom: 3px solid $lightGrey;
	}

	.vision ul.headerNavigationLinks > li > a.vision,
	.amenities ul.headerNavigationLinks > li > a.amenities,
	.lots ul.headerNavigationLinks > li > a.sales,
	.news ul.headerNavigationLinks > li > a.news,
	.contact ul.headerNavigationLinks > li > a.contact {
		border-bottom: 3px solid $orange;
	}

	ul.headerNavigationLinks > li > a.registerHeader {
		padding: 20px 18px 20px 20px;
		margin: 14px 18px 8px 4px;
		border: 4px solid #929496;
	}
	article {
		margin: 135px 0 0 0;
	}

	ul.homePageList li {
		width: 50%;
		border-bottom: none;
	}

	ul.visionPageList li {
		width: 50%;
		border-bottom: none;
	}
}