@media all and (min-width: 63em) {

	/* Navigation */

	.header {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 135px;
		line-height: 0;
		background: $white;
		@include trasition;
	}

	.shrink {
		height: 72px;
		@include navigationBorder;
	}

	.headerNavigation {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	.logo {
		display: block;
		float: left;
		vertical-align: top;
		padding: 52px 16px 52px 36px;
		@include trasition;
	}

	.header.shrink .logo {
		padding: 22px;
	}

	ul.headerNavigationLinks {
		display: block;
		float: right;
		list-style: none;
		text-align: right;
		font-family: $sans-serif-type;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 30px 20px 40px 0;
		margin: 0;
		@include trasition;
	}

	.header.shrink ul.headerNavigationLinks {
		padding: 0;
	}

	ul.headerNavigationLinks > li {
		display: inline-block;
	}

	ul.headerNavigationLinks > li > a {
		display: inline-block;
		padding: 25px 0 15px 0;
		margin: 0 10px;
		border-bottom: 3px solid $white;
	}

	ul.headerNavigationLinks > li > a:hover {
		border-bottom: 3px solid $lightGrey;
	}

	.vision ul.headerNavigationLinks > li > a.vision,
	.amenities ul.headerNavigationLinks > li > a.amenities,
	.lots ul.headerNavigationLinks > li > a.sales,
	.news ul.headerNavigationLinks > li > a.news,
	.contact ul.headerNavigationLinks > li > a.contact {
		border-bottom: 3px solid $orange;
	}

	ul.headerNavigationLinks > li > a.registerHeader {
		padding: 20px 18px 20px 20px;
		margin: 14px 18px 8px 4px;
		border: 4px solid #929496;
	}

	/* Page Structure */

	article {
		margin: 135px 0 0 0;
	}

	/* Features */

	.featureText h2 {
		font-size: 3.5em;
		letter-spacing: 20px;
	}

	p.proximaNovaSubheader {
		font-size: 1em;
	}

	.featureText a {
		font-size: 0.6em;
	}



	/* Home Page */

	ul.homePageList li {
		width: 50%;
		border-bottom: none;
	}

	h2.videoPlayTitle {
		font-size: 1.4em !important;
	}

	.homeAmenitiesPicture {
		float: left;
		width: 50%;
	}

	.homeAmenitiesText {
		float: right;
		width: 50%;
	}

	/* Vision Page */

	ul.visionPageList li {
		width: 50%;
		border-bottom: none;
	}

	ul.visionPageList li .top {
		overflow: hidden;
	}

	ul.visionPageList li .bottom {
		position: absolute;
		left: $horizontalPadding*2;
		right: $horizontalPadding*2;
		bottom: $verticalPadding*1.5;
	}

	/* Footer */
	ul.additionalLinks {
		margin: 0 0 $verticalPadding*10 0;
	}

	ul.additionalLinks > li {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		padding: 0 $horizontalPadding/1.5 0 0;
		margin: 0 $horizontalPadding/1.5 0 0;
		border-right: 2px solid $white;
	}

	ul.additionalLinks > li.additionalLinksRegister {
		display: none;
	}

	ul.additionalLinks > li.medicineHatMark,
	ul.additionalLinks > li:last-child {
		padding: 0;
		margin: 0 $horizontalPadding/1.5 0 0;
		border-right: none;
	}

	ul.additionalLinks > li.additionalLinksRegister a.register {
		display: none;
	}

	ul.additionalLinks > li.medicineHatMark {
		display: inline-block;
	}

	ul.socialLinks li a.register {
		display: inline-block;
	}

	.landAndPropertiesLogoFooter {
		width: auto;
	}
}