@media all and (min-width: 63em) {

	/* Navigation */

	.header {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		width: 100%;
		height: 125px;
		line-height: 0;
		background: $white;
		@include trasition;
	}

	.shrink {
		height: 72px;
		@include navigationBorder;
	}

	.headerNavigation {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	.logo {
		display: block;
		float: left;
		vertical-align: top;
		padding: 50px 16px 50px 32px;
		@include trasition;
	}

	.header.shrink .logo {
		padding: 22px;
	}

	.hamburgerMenuIcon {
		display: none;
	}

	ul.headerNavigationLinks {
		display: block;
		float: right;
		list-style: none;
		text-align: right;
		font-family: $sans-serif-type;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 25px 20px 30px 0;
		margin: 0;
		@include trasition;
	}

	.header.shrink ul.headerNavigationLinks {
		padding: 0;
		margin: 5px 0 0 0;
	}

	ul.headerNavigationLinks > li {
		display: inline-block;
		vertical-align: middle;
	}

	ul.headerNavigationLinks > li > a {
		display: inline-block;
		vertical-align: middle;
		font-size: $navLinksFontSize;
		padding: 25px 0 15px 0;
		margin: 0 18px;
		border-bottom: 3px solid $white;
		@include trasition;
	}

	ul.headerNavigationLinks > li > a:hover {
		border-bottom: 3px solid $lightGrey;
	}

	.vision ul.headerNavigationLinks > li > a.vision,
	.concept ul.headerNavigationLinks > li > a.concept,
	.amenities ul.headerNavigationLinks > li > a.amenities,
	.sales ul.headerNavigationLinks > li > a.sales,
	.news ul.headerNavigationLinks > li > a.news {
		border-bottom: 3px solid $orange;
	}

	ul.headerNavigationLinks > li > a.registerHeader {
		padding: 16px 10px 16px 13px;
		margin: 12px 11px 8px 14px;
		border: 3px solid #929496;
	}

	ul.headerNavigationLinks > li > a.registerHeader:hover {
		color: $white;
		background: $orange;
		border: 3px solid $orange;
	}

	.register ul.headerNavigationLinks > li > a.registerHeader {
		color: $orange;
		border: 3px solid $orange;
	}

	.register ul.headerNavigationLinks > li > a.registerHeader:hover {
		color: $white;
		background: $orange;
		border: 3px solid $orange;
	}

	/* Page Structure */

	article {
		margin: 125px 0 0 0;
	}

	/* Features */

	.featureText h2 {
		font-size: 3em;
		letter-spacing: 20px;
	}

	p.proximaNovaSubheader {
		font-size: 0.8em;
	}

	.featureText a {
		font-size: 0.5em;
	}



	/* Home Page */

	ul.homePageList li {
		width: 50%;
		border-bottom: none;
	}

	h2.videoPlayTitle {
		font-size: 1.2em !important;
	}

	.homeAmenitiesPicture {
		float: left;
		width: 50%;
	}

	.homeAmenitiesText {
		float: right;
		width: 50%;
	}

	/* Vision Page */

	ul.visionPageList li {
		width: 50%;
		border-bottom: none;
	}

	ul.visionPageList li .top {
		overflow: hidden;
	}

	ul.visionPageList li .bottom {
		position: absolute;
		left: $horizontalPadding*2;
		right: $horizontalPadding*2;
		bottom: $verticalPadding*1.5;
	}

	div.visionBlockQuote p {
		font-size: 1.1em;
	}

	.blockquoteMedicineHatMark {
		display: block;
	}

	/* Concept Page */

	ul.amenitiesLists li {
		width: 48%;
	}

	/* Amenities Page */
	.mapLists {
		margin: 20px 25px 20px 20px;
	}

	.mapLists:last-child {
		margin: 20px 25px 20px 20px;
	}

	ul.mapsTabs li {
		width: 20%;
		border-right: 1px solid #ededed;
	}

	ul.mapsTabs li:nth-child(even) {
		border-right: 1px solid #ededed;
	}

	ul.mapsTabs li:last-child {
		float: left;
		border: none;
	}

	/* Footer */
	ul.additionalLinks {
		margin: 0 0 $verticalPadding*10 0;
	}

	ul.additionalLinks > li {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		padding: 0 $horizontalPadding/1.5 0 0;
		margin: 0 $horizontalPadding/1.5 0 0;
		border-right: 2px solid $white;
	}

	ul.additionalLinks > li.additionalLinksRegister {
		display: none;
	}

	ul.additionalLinks > li.medicineHatMark,
	ul.additionalLinks > li:last-child {
		padding: 0;
		margin: 0 $horizontalPadding/1.5 0 0;
		border-right: none;
	}

	ul.additionalLinks > li.additionalLinksRegister a.register {
		display: none;
	}

	ul.additionalLinks > li.medicineHatMark {
		display: inline-block;
	}

	ul.socialLinks li a.register {
		display: inline-block;
	}

	.landAndPropertiesLogoFooter {
		width: auto;
	}
}