form {
	font-family: $sans-serif-type;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 5px;
	font-size: 0.8em;
	line-height: 1.1;
	border: none;
	outline: none;
}

fieldset {
	margin: 0;
	padding: 0;
	border-top: 1px solid $superLightGrey;
	border-right: 1px solid $superLightGrey;
	border-bottom: none;
	border-left: none;
}

legend {
	display: none;
}

.formBlock {
	display: block;
	float: left;
	position: relative;
	width: 50%;
	border-left: 1px solid $superLightGrey;
	border-bottom: 1px solid $superLightGrey;
}

label {
	position: absolute;
	top: 20px;
	left: 7%;
	z-index: 99999;
	color: #000;
	line-height: 1.4;
}

.formNumeral {
	font-family: $serif-type;
	font-size: 1em;
	color: $lightGrey;
	font-style: italic;
}

button, input, optgroup, select, textarea {
	width: 100%;
	max-width: 100%;
	display: block;
	height: 120px;
	max-height: 120px;
	vertical-align: middle;
	font-family: $sans-serif-type;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1em;
	line-height: 1.1;
	outline: 0px;
	border: 0px;
	padding: 4% 7% 0 7%;
}

select {
	-webkit-appearance: none;
	background: url('/images/selectArrow.png');
	background-repeat: no-repeat;
	background-position: 90% 63%;
	background-size: 15px 8px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

select:hover {
	-webkit-appearance: none;
	background: url('/images/selectArrow.png');
	background-repeat: no-repeat;
	background-position: 90% 63%;
	background-size: 15px 8px;
	background-color: $superLightGrey;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

select:focus {
	-webkit-appearance: none;
	background: url('/images/selectArrow.png');
	background-repeat: no-repeat;
	background-position: 90% 63%;
	background-size: 15px 8px;
	background-color: $orange;
	color: $white;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

button:hover,
input:hover,
optgroup:hover,
textarea:hover {
	background: $superLightGrey;
}

button:focus,
input:focus,
optgroup:focus,
textarea:focus {
	outline: 0px;
	background: $orange;
	color: $white;
}

input::-webkit-input-placeholder {
    color: $superLightGrey;
}
input:focus::-webkit-input-placeholder {
    color: $white;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: $superLightGrey;
}
input:focus:-moz-placeholder {
    color: $white;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: $superLightGrey;
}
input:focus::-moz-placeholder {
    color: $white;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: $superLightGrey;
}
input:focus:-ms-input-placeholder {
    color: $white;
}

.disclaimerBlock {
	padding: 30px 3.5%;
}

p.disclaimer {
	text-transform: none;
	letter-spacing: normal;
	font-size: 1.5em;
	font-weight: normal;
}

button.submit {
	padding: 5% 7%;
	border: 4px solid $red;
	background: $white;
	color: $red;
	font-size: 1.4em;
	margin: 50px auto 0 auto;
	width: 87%;
	@include trasition;
}

button.submit:hover {
	color: $white;
	background: $red;
}