
.header {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 72px;
	line-height: 0;
	background: $white;
	@include trasition;
	opacity: .98;
}

.shrink {
	height: 72px;
	@include navigationBorder;
}

.headerNavigation {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.logo {
	display: block;
	float: left;
	vertical-align: top;
	width: 75%;
	max-width: 354px;
	padding: 20px;
	@include trasition;
}

.header.shrink .logo {
	display: block;
	float: left;
	vertical-align: top;
	width: 75%;
	padding: 20px;
}

.hamburgerMenuIcon {
	float: right;
	display: inline-block;
	height: 30px;
	width: 28px;
	margin: 23px;
}

ul.headerNavigationLinks {
	display: none;
}

/* Mobile Navigation */
ul.mobileNav {
	display: none;
	position: fixed;
	z-index: 9999;
	height: 100%;
	width: 100%;
	text-align: center;
	list-style: none;
	background: rgba(0, 0, 0, 0.85);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 20px;
	margin: 0;
	overflow: scroll;
}

ul.mobileNav li {
	max-width: 280px;
	margin: 0 auto;
}

ul.mobileNav li a {
	display: block;
	font-size: 1.4em;
	font-weight: 600;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 10px;
	padding: 10px 0 10px 20px;
	margin: 0 0 1em 0;
}

ul.mobileNav li:nth-child(8) {
	margin: 3em auto 1em auto;
}

ul.mobileNav li:nth-child(8),
ul.mobileNav li:nth-child(9),
ul.mobileNav li:nth-child(10),
ul.mobileNav li:nth-child(11) {
	font-size: 0.6em;
}