//
// Homepage Features Carousel
//
section.featured {
	max-width: 100% !important;
	width: 100% !important;
	padding: 0 !important;
	margin: 0 auto;
}

.featureBackgroundImage {
	height: auto;
	padding: 10% 2%;
	margin: 0;
	text-align: center;
}

.featureBackgroundImage:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.featureBackgroundImage img {
	width: 100%;
	height: 100%;
}

.secondaryHeaders {
	padding: 7.55% 2%;
}

.featureText {
	color: $white;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
}

.featureText h2 {
	font-size: 2em;
	letter-spacing: 10px;
	line-height: 1;
	padding-left: 10px;
	margin: 0 0 $verticalPadding*0.75 0;
}

.featureText p {
	font-family: $serif-type;
	font-style: italic;
	text-transform: none;
	font-size: 1.4em;
	color: $white;
	margin: 0 auto $verticalPadding*1.5 auto;
}

p.proximaNovaSubheader {
	@include smallCapsProximaNova;
	font-style: normal;
	font-size: 0.8em;
	line-height: 1.6;
	color: $white;
	margin: 0 auto $verticalPadding*1.5 auto;
}

.featureText a {
	display: inline-block;
	color: $white;
	font-family: $sans-serif-type;
	font-size: 0.4em;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: $smallCapsLetterSpacing;
	border-color: $white;
	padding: 8px 15px 8px 25px;
	margin: 0 auto;
}

.button {
	@include buttonBorder;
}

//
// The Homepage Grid
//

ul.homePageList {
	width: 100%;
	padding: 0;
	margin: 0;
}

ul.homePageList li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 320px;
	padding: 30px;
	overflow: hidden;
	border-bottom: 1px solid $lightGrey;
}

ul.homePageList li:last-child {
	padding: 0;
}

/* The watchFlyover vertically centred horizontally and vertically */
/* This parent can be any width and height */
.watchFlyover {
	height: 100%;
	text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.watchFlyover:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.watchFlyoverCentred {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}

ul.homePageList li .top {
	overflow: hidden;
}

ul.homePageList li .bottom {
	position: absolute;
	bottom: 30px;
}

ul.homePageList li p {
	@include garamondLightGrey;
	color: $lightGrey;
}

ul.homePageList li h2 {
	float: left;
	display: inline-block;
	font-size: $h2FeatureListFontSize;
	letter-spacing: $smallCapsLetterSpacing/2;
	margin: 0;
}

h2.videoPlayTitle {
	font-size: 0.8em !important;
}

span.videoPlayIcon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 15px;
}

ul.homePageList li .mobileNewsAdvanceIcon {
	display: inline-block;
	float: right;
	margin: 0;
}

ul.homePageList li p a {
	@include learnMoreLinks;
}

ul.newHeadlines {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.newHeadlines li {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0;
}

.homeAmenitiesPicture {
	float: left;
	background: url('/images/vegetableMarket.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 320px;
}

.homeAmenitiesText {
	float: left;
	width: 100%;
	height: 320px;
	padding: 30px;
	background: $tan;
}

.heightAutoHelper {
	height: auto !important;
	min-height: 320px !important;
}