//
// Homepage Features Carousel
//
section.featured {
	max-width: 100% !important;
	width: 100% !important;
	padding: 0 !important;
	margin: 0 auto;
}

.featureBackgroundImage {
	height: auto;
	padding: 8.5% 10%;
	margin: 0;
}
.featureBackgroundImage:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.featureBackgroundImage img {
	width: 100%;
}

.featureText {
	color: $white;
	display: inline-block;
	vertical-align: middle;
	font-size: 150%;
	max-width: 960px;
	margin: 0 auto;
}

.featureText h2 {
	margin: 0 0 $verticalPadding*0.75 0;
}

.featureText p {
	margin: 0 0 $verticalPadding*1.5 0;
}

.featureText a {
	color: $white;
	font-size: $small-caps-fontsize;
	font-weight: $headings-font-weight;
	text-transform: uppercase;
	letter-spacing: $smallCapsLetterSpacing;
	border-color: $white;
	padding: $verticalPadding/2 $horizontalPadding;
	margin: 0;
}

.button {
	@include buttonBorder;
}

//
// The Homepage Grid
//

ul.homePageList {
	width: 100%;
	padding: 0;
	margin: 0;
}

ul.homePageList li {
	display: block;
	float: left;
	width: 50%;
	padding: 113px $horizontalPadding;
}

span.videoPlayIcon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
}

ul.newHeadlines {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.newHeadlines li {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0;
}