/* The uppercase sans-serif */
/* The uppercase sans-serif */

@mixin smallCapsProximaNova() {
	font-family: $sans-serif-type;
	font-weight: 600;
	font-size: $navLinksFontSize;
	line-height: $headings-line-height;
	color: $darkGrey;
	text-transform: uppercase;
	letter-spacing: 10px;
}

@mixin learnMoreLinks() {
	font-family: $sans-serif-type;
	font-weight: 600;
	font-size: 0.8em;
	line-height: $headings-line-height;
	color: $darkGrey;
	text-transform: uppercase;
	letter-spacing: 8px;
	margin: 0;
}

@mixin navigationBorder() {
	border-bottom: 1px solid #DDDDDD;
}

@mixin boxSizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin buttonBorder() {
	border: 3px solid $darkGrey;
}

@mixin trasition() {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

@mixin garamondLightGrey() {
	font-family: $serif-type;
	font-weight: normal;
	font-size: 1.1em;
	line-height: 1.65em;
	color: $lightGrey;
}