body {
	font-family: $sans-serif-type;
	font-size: 0.9em;
}

::-moz-selection {
	color: $white;
    background: #5f6262;
}

::selection {
    color: $white;
    background: #5f6262;
}

a {
	text-decoration: none;
	color: $darkGrey;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $sans-serif-type;
	font-weight: $headings-font-weight;
	text-transform: uppercase;
	letter-spacing: $smallCapsLetterSpacing;
}

h2.greyBackground {
	display: block;
	color: $white;
	background: $darkGrey;
	height: auto;
	font-size: $h2FontSize;
	text-align: center;
	line-height: 1.1;
	margin: 0;
	padding: 20px;
}

p {
	color: $lightGrey;
	font-family: $serif-type;
	font-weight: normal;
	font-size: $paragraphFontSize;
	line-height: 1.75em;
}

span.underlinedNumeral {
	display: block;
	float: left;
	width: auto;
	letter-spacing: normal;
	padding: 0px 0 5px 0;
	margin: 0 20px 13px 0;
	border-bottom: 4px solid $black;
	font-family: $serif-type;
	font-style: italic;
	color: rgb(146,148,150);
}