body {
	font-family: $sans-serif-type;
	font-size: 0.9em;
}

a {
	text-decoration: none;
	color: $darkGrey;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $sans-serif-type;
	font-weight: $headings-font-weight;
	text-transform: uppercase;
	letter-spacing: $smallCapsLetterSpacing;
}

h2.greyBackground {
	display: block;
	color: $white;
	background: $darkGrey;
	height: 60px;
	font-size: 18px;
	text-align: center;
	line-height: 60px;
	margin: 0;
}

p {
	color: $lightGrey;
	font-family: $serif-type;
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.75em;
}

span.underlinedNumeral {
	display: block;
	float: left;
	width: auto;
	letter-spacing: normal;
	padding: 0px 0 5px 0;
	margin: 0 20px 13px 0;
	border-bottom: 4px solid $black;
	font-family: $serif-type;
	font-style: italic;
	color: rgb(146,148,150);
}