// These are the variabes used throughout the project

//
// Color
//

$orange: rgb(209,138,41);
$tan: rgb(217,212,204);
$darkGrey: rgb(89,89,91);
$lightGrey: rgb(146,148,150);
$superLightGrey: rgb(230,230,230);
$red: rgb(206,62,51);
$white: rgb(255,255,255);
$black: rgb(0,0,0);

//
// Typography
//

$sans-serif-type: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif-type: "adobe-garamond-pro", Georgia, "Times New Roman", Times, serif !default;
$headings-font-weight: 600;
$headings-line-height: 1.1;
$small-caps-fontsize: 12px;
$smallCapsLetterSpacing: 10px;
$h2FontSize: 1.1em;
$h2FeatureListFontSize: 1.3em;
$navLinksFontSize: 0.7em;
$paragraphFontSize: 1.1em;

//
// Layout
//

$verticalPadding: 20px;
$horizontalPadding: 20px;