//
// Homepage Features Carousel
//
section.featured {
	max-width: 100% !important;
	width: 100% !important;
	padding: 0 !important;
	margin: 0 auto;
}

.featureBackgroundImage {
	height: auto;
	padding: 10% 2%;
	margin: 0;
	text-align: center;
}
.featureBackgroundImage:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.featureBackgroundImage img {
	width: 100%;
	height: 100%;
}

.featureText {
	color: $white;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
}

.featureText h2 {
	font-size: 4em;
	margin: 0 0 $verticalPadding*0.75 0;
}

.featureText p {
	@include smallCapsProximaNova;
	font-weight: 500;
	font-size: 1em;
	color: $white;
	margin: 0 auto $verticalPadding*1.5 auto;
}

.featureText a {
	display: inline-block;
	color: $white;
	font-size: 0.5em;
	text-transform: uppercase;
	letter-spacing: $smallCapsLetterSpacing;
	border-color: $white;
	padding: $verticalPadding/1.5 $horizontalPadding/2 $verticalPadding/1.5 $verticalPadding*1.5;
	margin: 0 auto;
}

.button {
	@include buttonBorder;
}

//
// The Homepage Grid
//

ul.visionPageList {
	width: 100%;
	padding: 0;
	margin: 0;
}

ul.visionPageList li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 320px;
	padding: $verticalPadding*1.5 $horizontalPadding*2;
	overflow: hidden;
	border-bottom: 1px solid $lightGrey;
}

ul.visionPageList li .top {
	overflow: hidden;
}

ul.visionPageList li .bottom {
	position: absolute;
	bottom: $verticalPadding*1.5;
}

ul.visionPageList li p {
	font-size: 1.4em;
	color: $lightGrey;
}

span.videoPlayIcon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
}

ul.visionPageList li h2 {
	float: left;
	display: block;
	width: 100%;
	letter-spacing: $smallCapsLetterSpacing/2;
	margin: 0;
}

ul.visionPageList li .mobileNewsAdvanceIcon {
	display: inline-block;
	float: right;
	margin: 0;
}

ul.visionPageList li a {
	@include smallCapsProximaNova;
}

ul.newHeadlines {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.newHeadlines li {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0;
}

.homeAmenitiesPicture {
	float: left;
	background: url('/images/vegetableMarket.jpg');
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 320px;
}

.homeAmenitiesText {
	float: right;
	width: 50%;
	height: 320px;
	padding: $verticalPadding*1.5 $horizontalPadding*2;
	background: $tan;
}