//
// Vision Grid
//

.visionHeader.current {
	display: none;
}

//
// Tabs for the Vision Page
//

ul.visionTabs {
	list-style: none;
	background: $darkGrey;
	@include smallCapsProximaNova;
	color: $white;
	text-align: center;
	line-height: 1.4;
	margin: 0px;
	padding: 25px;
	overflow: hidden;
}

ul.visionTabs li {
	display: inline-block;
	padding: 0;
	overflow: hidden;
}

ul.visionTabs li a {
	display: block;
	background: none;
	text-align: center;
	padding: 12px 15px 12px 25px;
	cursor: pointer;
	overflow: hidden;
}

ul.visionTabs li.current a {
	padding: 9px 12px 9px 22px;
	@include buttonBorder;
	border-color: $orange;
}

.visionTabContent {
	display: none;
	overflow: hidden;
}

.visionTabContent.current {
	display: inherit;
}

ul.visionPageList {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

ul.visionPageList li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 360px;
	padding: $verticalPadding*1.5;
	overflow: hidden;
	border-bottom: 1px solid $lightGrey;
}

.triangleLeft {
	display: none;
	position: absolute;
	z-index: 1;
	top: 46%;
	left: 0;
	width: 13px;
	height: 25px;
	background: url('/images/triangleLeft.png');
	background-size: 13px 25px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	margin: 0;
}

.triangleRight {
	display: none;
	position: absolute;
	z-index: 1;
	top: 46%;
	right: 0;
	width: 13px;
	height: 25px;
	background: url('/images/triangleRight.png');
	background-size: 13px 25px;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	margin: 0;
}

ul.visionPageList li .top {
	overflow: hidden;
}

ul.visionPageList li .bottom {
	position: absolute;
	left: $verticalPadding*1.5;
	right: $horizontalPadding*1.5;
	bottom: $verticalPadding*1.5;
}

ul.visionPageList li p {
	@include garamondLightGrey;
	margin-bottom: 0;
}

ul.visionPageList li h2 {
	float: left;
	display: block;
	font-size: $h2FontSize;
	width: 100%;
	letter-spacing: $smallCapsLetterSpacing/2;
	margin: 0;
}

ul.visionPageList li .mobileNewsAdvanceIcon {
	display: inline-block;
	float: right;
	margin: 0;
}

ul.visionPageList li a {
	@include smallCapsProximaNova;
}

div.visionBlockQuote {
	position: relative;
	height: auto;
	min-height: 380px;
	background: url('../images/terrainMapsLighterGrey.jpg');
	background-position: center;
	background-size: cover;
	overflow: hidden;
	color: #FFF;
	padding: 30px;
}

div.visionBlockQuote p {
	color: $white;
	font-family: $sans-serif-type;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 10px;
	line-height: 3;
	width: 100%;
	max-width: 733px;
	margin: 0;
}

div.visionBlockQuote p:last-of-type {
	font-family: $serif-type;
	font-style: italic;
	text-transform: none;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

.blockquoteMedicineHatMark {
	display: none;
	position: absolute;
	top: 50px;
	right: 50px;
}