//
// The Homepage Grid
//

ul.visionPageList {
	width: 100%;
	padding: 0;
	margin: 0;
}

ul.visionPageList li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 360px;
	padding: $verticalPadding*1.5;
	overflow: hidden;
	border-bottom: 1px solid $lightGrey;
}

ul.visionPageList li .top {
	overflow: hidden;
}

ul.visionPageList li .bottom {
	position: absolute;
	left: $verticalPadding*1.5;
	right: $horizontalPadding*1.5;
	bottom: $verticalPadding*1.5;
}

ul.visionPageList li p {
	@include garamondLightGrey;
	margin-bottom: 0;
}

ul.visionPageList li h2 {
	float: left;
	display: block;
	font-size: $h2FontSize;
	width: 100%;
	letter-spacing: $smallCapsLetterSpacing/2;
	margin: 0;
}

ul.visionPageList li .mobileNewsAdvanceIcon {
	display: inline-block;
	float: right;
	margin: 0;
}

ul.visionPageList li a {
	@include smallCapsProximaNova;
}