img {
	max-width: 100%;
	height: auto;
}

/* CSS used here will be applied after bootstrap.css */

#map-een {
  width:100%;
  height:480px;
}
#map-twee {
  width:100%;
  height:480px;
}
#map-drie {
  width:100%;
  height:480px;
}